@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  :root {
    --background: #10355E;
    /* Prussian Blue */
    --foreground: #e2e8f0;
  }

  /* White/Slate text */
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--background);
  color: var(--foreground);
}